<div class="date_box">
  <div class="date">
    <div class="big_date"><% if race.date %><%= race.date.strftime('%d') %><% end %></div>
    <div class="big_date"><% if race.date %><%= race.date.strftime('%b') %><% end %></div>
  </div>
  <div class="countdown">20<% if race.date %><%= race.date.strftime('%y') %><% end %></div>
</div>