<h1>Calendario de corridas</h1>
<table class="table1">
<% @races.each do |race| %>
  <tr>
    <td>
      <%= render :partial => "date_box", :locals => { :race => race } %>
    </td>
    <td class='title'>
      <%= link_to race.name, race.url %>
    </td>
    <td>
      <%= race.distance %>
    </td>
  </tr>
<% end %>
</table>